In [1]:
import pandas as pd

In [2]:
#getting data from the preprocessed csv file for 2022
df_2021=pd.read_csv('../raw_data/census_2021.csv')
df_2021= df_2021.drop(columns = ['Unnamed: 0'])
df_2021

,demographics_key,dissemination_area,population,average_age,median_age,total_dwellings,average_household_size,median_household_income,mother_tongue_official_percentage,mother_tongue_unofficial_percentage,census_year
0,202135010159,35010159,533.0,45.8,50.4,210.0,2.6,87000.0,95.28,4.72,2021
1,202135010160,35010160,485.0,45.2,50.0,200.0,2.4,88000.0,94.85,5.15,2021
2,202135010161,35010161,402.0,44.5,44.8,160.0,2.5,77000.0,96.25,3.75,2021
3,202135010162,35010162,383.0,50.9,57.2,150.0,2.2,73500.0,98.67,1.33,2021
4,202135010163,35010163,519.0,45.1,48.8,210.0,2.4,84000.0,94.17,5.83,2021
...,...,...,...,...,...,...,...,...,...,...,...
20463,202135600224,35600224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021
20464,202135600237,35600237,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021
20465,202135600256,35600256,511.0,30.3,26.0,120.0,4.3,81000.0,32.00,68.00,2021
20466,202135600218,35600218,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021
20467,202135600238,35600238,409.0,24.1,19.6,90.0,4.4,67500.0,76.83,23.17,2021

In [3]:
#getting the data fromt the preprocessed csv file for 2016
df_2016=pd.read_csv('../raw_data/census_2016.csv')
df_2016= df_2016.drop(columns = ['Unnamed: 0'])
df_2016.dissemination_area=df_2016.dissemination_area.astype('int64')
df_2016

,demographics_key,dissemination_area,population,average_age,median_age,total_dwellings,average_household_size,median_household_income,mother_tongue_official_percentage,mother_tongue_unofficial_percentage,census_year
0,2.016350e+11,35010159,517.0,45.9,52.5,210.0,2.5,31659.0,100.00,0.00,2016.0
1,2.016350e+11,35010160,509.0,43.5,47.1,200.0,2.6,32981.0,100.00,0.00,2016.0
2,2.016350e+11,35010161,388.0,43.7,48.2,150.0,2.6,31040.0,98.72,1.28,2016.0
3,2.016350e+11,35010162,376.0,52.7,57.5,155.0,2.2,29760.0,100.00,0.00,2016.0
4,2.016350e+11,35010163,501.0,43.9,47.5,205.0,2.4,35200.0,100.00,0.00,2016.0
...,...,...,...,...,...,...,...,...,...,...,...
20155,2.016356e+11,35600237,276.0,28.8,24.2,85.0,3.4,20736.0,98.18,1.82,2016.0
20156,2.016356e+11,35600256,511.0,29.1,25.9,100.0,4.8,25664.0,98.04,1.96,2016.0
20157,2.016356e+11,35600218,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.0
20158,2.016356e+11,35600241,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.0
20159,2.016356e+11,35600238,421.0,25.1,21.4,85.0,4.7,17744.0,98.81,1.19,2016.0

In [4]:
#getting the data fromt the preprocessed csv file for 2011
df_2011=pd.read_csv('../raw_data/census_2011.csv')
df_2011= df_2011.drop(columns = ['Unnamed: 0'])
df_2011

,demographics_key,dissemination_area,population,average_age,median_age,total_dwellings,average_household_size,median_household_income,mother_tongue_official_percentage,mother_tongue_unofficial_percentage,census_year
0,201135010155,35010155,486.0,NaN,47.0,190.0,2.6,NaN,100.00,0.00,2011
1,201135010156,35010156,477.0,NaN,45.7,200.0,2.4,NaN,100.00,0.00,2011
2,201135010157,35010157,501.0,NaN,45.8,195.0,2.6,NaN,100.00,0.00,2011
3,201135010158,35010158,520.0,NaN,46.9,210.0,2.5,NaN,100.00,0.00,2011
4,201135010159,35010159,502.0,NaN,48.9,205.0,2.5,NaN,99.01,0.99,2011
...,...,...,...,...,...,...,...,...,...,...,...
19959,201135600399,35600399,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011
19960,201135600400,35600400,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011
19961,201135600401,35600401,483.0,NaN,51.4,195.0,2.5,NaN,100.00,0.00,2011
19962,201135600402,35600402,556.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011
19963,201135600403,35600403,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011

In [10]:
#copy the median_household_income from the next year
df_2011= df_2011.drop(columns = ['median_household_income'])
df_2011=df_2011.merge(df_2016[['dissemination_area', 'median_household_income']], on = 'dissemination_area', how = 'left')
#reordering the rows to match the other dataframes

#list(df_2011)
df_2011=df_2011[['demographics_key', 'dissemination_area','population','average_age','median_age',
                'total_dwellings','average_household_size','median_household_income',
                'mother_tongue_official_percentage','mother_tongue_unofficial_percentage','census_year']]
df_2011

,demographics_key,dissemination_area,population,average_age,median_age,total_dwellings,average_household_size,median_household_income,mother_tongue_official_percentage,mother_tongue_unofficial_percentage,census_year
0,201135010155,35010155,486.0,NaN,47.0,190.0,2.6,27712.0,100.00,0.00,2011
1,201135010156,35010156,477.0,NaN,45.7,200.0,2.4,26688.0,100.00,0.00,2011
2,201135010157,35010157,501.0,NaN,45.8,195.0,2.6,31200.0,100.00,0.00,2011
3,201135010158,35010158,520.0,NaN,46.9,210.0,2.5,32384.0,100.00,0.00,2011
4,201135010159,35010159,502.0,NaN,48.9,205.0,2.5,31659.0,99.01,0.99,2011
...,...,...,...,...,...,...,...,...,...,...,...
19959,201135600399,35600399,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011
19960,201135600400,35600400,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011
19961,201135600401,35600401,483.0,NaN,51.4,195.0,2.5,39936.0,100.00,0.00,2011
19962,201135600402,35600402,556.0,NaN,NaN,NaN,NaN,31584.0,NaN,NaN,2011
19963,201135600403,35600403,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011

In [11]:
#combine the three census years together into one dataframe
frames = [df_2011, df_2016, df_2021]
result = pd.concat(frames)
result

,demographics_key,dissemination_area,population,average_age,median_age,total_dwellings,average_household_size,median_household_income,mother_tongue_official_percentage,mother_tongue_unofficial_percentage,census_year
0,2.011350e+11,35010155,486.0,NaN,47.0,190.0,2.6,27712.0,100.00,0.00,2011.0
1,2.011350e+11,35010156,477.0,NaN,45.7,200.0,2.4,26688.0,100.00,0.00,2011.0
2,2.011350e+11,35010157,501.0,NaN,45.8,195.0,2.6,31200.0,100.00,0.00,2011.0
3,2.011350e+11,35010158,520.0,NaN,46.9,210.0,2.5,32384.0,100.00,0.00,2011.0
4,2.011350e+11,35010159,502.0,NaN,48.9,205.0,2.5,31659.0,99.01,0.99,2011.0
...,...,...,...,...,...,...,...,...,...,...,...
20463,2.021356e+11,35600224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021.0
20464,2.021356e+11,35600237,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021.0
20465,2.021356e+11,35600256,511.0,30.3,26.0,120.0,4.3,81000.0,32.00,68.00,2021.0
20466,2.021356e+11,35600218,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021.0
20467,2.021356e+11,35600238,409.0,24.1,19.6,90.0,4.4,67500.0,76.83,23.17,2021.0

In [12]:
#Removed the average age column as the average age was not reported in the 2011 or 2016 census profiles
result=result.drop(columns=['average_age'])
#removed the rows where the population or average_household_size was null
result=result.dropna(subset=['population','average_household_size','median_household_income',
                             'mother_tongue_official_percentage','mother_tongue_unofficial_percentage']).reset_index(drop = True) 
#convert demographics_key into an integer
result.demographics_key=result.demographics_key.astype('int64')


#convert population into an integer
result.population=result.population.astype('int64')
#convert date to an integer
result.census_year=result.census_year.astype('int64')
#convert total_dwellings to int
result.total_dwellings=result.total_dwellings.astype('int64')
#print the resulting table
result

,demographics_key,dissemination_area,population,median_age,total_dwellings,average_household_size,median_household_income,mother_tongue_official_percentage,mother_tongue_unofficial_percentage,census_year
0,201135010155,35010155,486,47.0,190,2.6,27712.0,100.00,0.00,2011
1,201135010156,35010156,477,45.7,200,2.4,26688.0,100.00,0.00,2011
2,201135010157,35010157,501,45.8,195,2.6,31200.0,100.00,0.00,2011
3,201135010158,35010158,520,46.9,210,2.5,32384.0,100.00,0.00,2011
4,201135010159,35010159,502,48.9,205,2.5,31659.0,99.01,0.99,2011
...,...,...,...,...,...,...,...,...,...,...
58332,202135600409,35600409,547,58.8,235,2.2,85000.0,88.99,11.01,2021
58333,202135600217,35600217,447,27.0,125,3.6,42800.0,64.44,35.56,2021
58334,202135600222,35600222,1060,22.4,230,4.6,67000.0,35.38,64.62,2021
58335,202135600256,35600256,511,26.0,120,4.3,81000.0,32.00,68.00,2021
58336,202135600238,35600238,409,19.6,90,4.4,67500.0,76.83,23.17,2021

In [13]:
#uncomment the following line of code if psycopg2 or sqlalchemy not installed locally
#!pip install psycopg2
#!pip install sqlalchemy
import psycopg2
import sqlalchemy

In [14]:
#Using postgres 13
#format: postgresql+psycopg2://username:password@host_address/database_name
engine = sqlalchemy.create_engine('postgresql+psycopg2://postgres:CSI4142@localhost:5432/fire_hazard')
result.to_sql(name='dim_demographics', con=engine,if_exists='append', index=False)

DataError: (psycopg2.errors.NumericValueOutOfRange) integer out of range

[SQL: INSERT INTO dim_demographics (demographics_key, dissemination_area, population, median_age, total_dwellings, average_household_size, median_household_income, mother_tongue_official_percentage, mother_tongue_unofficial_percentage, census_year) VALUES (%(demographics_key)s, %(dissemination_area)s, %(population)s, %(median_age)s, %(total_dwellings)s, %(average_household_size)s, %(median_household_income)s, %(mother_tongue_official_percentage)s, %(mother_tongue_unofficial_percentage)s, %(census_year)s)]
[parameters: ({'demographics_key': 201135010155, 'dissemination_area': 35010155, 'population': 486, 'median_age': 47.0, 'total_dwellings': 190, 'average_household_size': 2.6, 'median_household_income': 27712.0, 'mother_tongue_official_percentage': 100.0, 'mother_tongue_unofficial_percentage': 0.0, 'census_year': 2011}, {'demographics_key': 201135010156, 'dissemination_area': 35010156, 'population': 477, 'median_age': 45.7, 'total_dwellings': 200, 'average_household_size': 2.4, 'median_household_income': 26688.0, 'mother_tongue_official_percentage': 100.0, 'mother_tongue_unofficial_percentage': 0.0, 'census_year': 2011}, {'demographics_key': 201135010157, 'dissemination_area': 35010157, 'population': 501, 'median_age': 45.8, 'total_dwellings': 195, 'average_household_size': 2.6, 'median_household_income': 31200.0, 'mother_tongue_official_percentage': 100.0, 'mother_tongue_unofficial_percentage': 0.0, 'census_year': 2011}, {'demographics_key': 201135010158, 'dissemination_area': 35010158, 'population': 520, 'median_age': 46.9, 'total_dwellings': 210, 'average_household_size': 2.5, 'median_household_income': 32384.0, 'mother_tongue_official_percentage': 100.0, 'mother_tongue_unofficial_percentage': 0.0, 'census_year': 2011}, {'demographics_key': 201135010159, 'dissemination_area': 35010159, 'population': 502, 'median_age': 48.9, 'total_dwellings': 205, 'average_household_size': 2.5, 'median_household_income': 31659.0, 'mother_tongue_official_percentage': 99.01, 'mother_tongue_unofficial_percentage': 0.99, 'census_year': 2011}, {'demographics_key': 201135010160, 'dissemination_area': 35010160, 'population': 454, 'median_age': 44.5, 'total_dwellings': 180, 'average_household_size': 2.5, 'median_household_income': 32981.0, 'mother_tongue_official_percentage': 100.0, 'mother_tongue_unofficial_percentage': 0.0, 'census_year': 2011}, {'demographics_key': 201135010161, 'dissemination_area': 35010161, 'population': 414, 'median_age': 45.1, 'total_dwellings': 160, 'average_household_size': 2.6, 'median_household_income': 31040.0, 'mother_tongue_official_percentage': 100.0, 'mother_tongue_unofficial_percentage': 0.0, 'census_year': 2011}, {'demographics_key': 201135010162, 'dissemination_area': 35010162, 'population': 404, 'median_age': 52.0, 'total_dwellings': 155, 'average_household_size': 2.4, 'median_household_income': 29760.0, 'mother_tongue_official_percentage': 100.0, 'mother_tongue_unofficial_percentage': 0.0, 'census_year': 2011}  ... displaying 10 of 58337 total bound parameter sets ...  {'demographics_key': 202135600256, 'dissemination_area': 35600256, 'population': 511, 'median_age': 26.0, 'total_dwellings': 120, 'average_household_size': 4.3, 'median_household_income': 81000.0, 'mother_tongue_official_percentage': 32.0, 'mother_tongue_unofficial_percentage': 68.0, 'census_year': 2021}, {'demographics_key': 202135600238, 'dissemination_area': 35600238, 'population': 409, 'median_age': 19.6, 'total_dwellings': 90, 'average_household_size': 4.4, 'median_household_income': 67500.0, 'mother_tongue_official_percentage': 76.83, 'mother_tongue_unofficial_percentage': 23.17, 'census_year': 2021})]
(Background on this error at: https://sqlalche.me/e/14/9h9h)