In [1]:
import pandas as pd

In [2]:
import json
from pandas import json_normalize

In [3]:
df = pd.read_csv("../raw_data/fire-station-locations.csv")

In [4]:
display(df)

,_id,ADDRESS_POINT_ID,ADDRESS_NUMBER,LINEAR_NAME_FULL,ADDRESS,MUNICIPALITY_NAME,CENTRELINE_ID,OBJECTID,ID,STATION,YEAR_BUILD,WARD,WARD_NAME,TYPE_DESC,PUBLIC_ED_OFFICE,FIRE_PREV_OFFICE,FIRE_OTHER,geometry
0,1,4236992,900,Tapscott Rd,900 Tapscott Rd,Scarborough,4236991,1520443,2,211.0,1982.0,23,Scarborough North,Fire Station,None,None,None,"{'type': 'Point', 'coordinates': (-79.24287003..."
1,2,308265,351,Birchmount Rd,351 Birchmount Rd,Scarborough,112783,1527311,69,NaN,1925.0,20,Scarborough Southwest,Admin,None,Fire Prevention Office (E),Fire Museum,"{'type': 'Point', 'coordinates': (-79.26480700..."
2,3,764237,106,Ascot Ave,106 Ascot Ave,former Toronto,1140634,1541526,37,342.0,1915.0,9,Davenport,Fire Station,None,None,None,"{'type': 'Point', 'coordinates': (-79.44862626..."
3,4,819425,65,Hendrick Ave,65 Hendrick Ave,former Toronto,1140587,1543317,36,343.0,1962.0,12,Toronto-St. Paul's,Fire Station,None,None,None,"{'type': 'Point', 'coordinates': (-79.43075215..."
4,5,12763904,260,Adelaide St W,260 Adelaide St W,former Toronto,12763900,1558261,85,332.0,1971.0,10,Spadina-Fort York,Fire Station,None,Fire Prevention Office (S),Division Commander / Platoon Chiefs,"{'type': 'Point', 'coordinates': (-79.38956419..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,88,30013624,4100,Keele St,4100 Keele St,North York,30020840,4350759,77,141.0,2011.0,7,Humber River-Black Creek,Fire Station,None,Fire Prevention Office (N),None,"{'type': 'Point', 'coordinates': (-79.49272359..."
88,89,998837,130,Eighth St,130 Eighth St,Etobicoke,30118412,4352480,23,435.0,1920.0,3,Etobicoke-Lakeshore,Fire Station,None,None,None,"{'type': 'Point', 'coordinates': (-79.50696999..."
89,90,2820826,1550,Midland Ave,1550 Midland Ave,Scarborough,30122712,4393085,58,232.0,1963.0,21,Scarborough Centre,Fire Station,None,None,None,"{'type': 'Point', 'coordinates': (-79.26685107..."
90,91,8292449,59,Curlew Dr,59 Curlew Dr,North York,8292440,4395143,92,233.0,1995.0,16,Don Valley East,Fire Station,Public Education Museum,Fire Prevention Office,FP Special Event Plans and Projects / Quality ...,"{'type': 'Point', 'coordinates': (-79.31438279..."
91,92,3890947,231,McRae Dr,231 McRae Dr,East York,3890945,4400109,87,321.0,1946.0,15,Don Valley West,Fire Station,None,Fire Prevention Office (N),None,"{'type': 'Point', 'coordinates': (-79.36469829..."

In [5]:
b = df["geometry"][0]

b = b.replace("\'", "\"")
b= b.replace("(", "[")
b= b.replace(")", "]")

# b = '{"type": "Point", "coordinates": [-79.2428700353868, 43.8239927252015]}'

c = json.loads(b)
print(c)
print(type(c))

{'type': 'Point', 'coordinates': [-79.2428700353868, 43.8239927252015]}
<class 'dict'>

In [6]:
df['geometry'] = df['geometry'].apply(lambda x: x.replace("\'", "\""))

In [7]:
df['geometry'] = df['geometry'].apply(lambda x: x.replace("(", "["))

In [8]:
df['geometry'] = df['geometry'].apply(lambda x: x.replace(")", "]"))

In [9]:
df['geometry'] = df['geometry'].apply(lambda x: json.loads(x))

In [10]:
print(df['geometry'])

0     {'type': 'Point', 'coordinates': [-79.24287003...
1     {'type': 'Point', 'coordinates': [-79.26480700...
2     {'type': 'Point', 'coordinates': [-79.44862626...
3     {'type': 'Point', 'coordinates': [-79.43075215...
4     {'type': 'Point', 'coordinates': [-79.38956419...
                            ...
87    {'type': 'Point', 'coordinates': [-79.49272359...
88    {'type': 'Point', 'coordinates': [-79.50696999...
89    {'type': 'Point', 'coordinates': [-79.26685107...
90    {'type': 'Point', 'coordinates': [-79.31438279...
91    {'type': 'Point', 'coordinates': [-79.36469829...
Name: geometry, Length: 92, dtype: object

In [11]:
dfLat = df['geometry'].map(lambda x: x['coordinates'][0])

In [12]:
dfLong = df['geometry'].map(lambda x: x['coordinates'][1])

In [13]:
display(dfLong)

0     43.823993
1     43.699878
2     43.679366
3     43.680105
4     43.648307
        ...
87    43.766822
88    43.601119
89    43.754967
90    43.743918
91    43.708714
Name: geometry, Length: 92, dtype: float64

In [14]:
df2=df.merge(dfLat.rename('Latitude'), left_index=True, right_index=True)

In [15]:
df2 = df2.merge(dfLong.rename('Longitude'), left_index=True, right_index=True)

In [16]:
df2 = df2.drop(columns=['_id','ADDRESS_POINT_ID','ADDRESS_NUMBER','LINEAR_NAME_FULL','CENTRELINE_ID','OBJECTID','YEAR_BUILD','PUBLIC_ED_OFFICE','FIRE_PREV_OFFICE','FIRE_OTHER', 'geometry'])

In [17]:
display(df2)

,ADDRESS,MUNICIPALITY_NAME,ID,STATION,WARD,WARD_NAME,TYPE_DESC,Latitude,Longitude
0,900 Tapscott Rd,Scarborough,2,211.0,23,Scarborough North,Fire Station,-79.242870,43.823993
1,351 Birchmount Rd,Scarborough,69,NaN,20,Scarborough Southwest,Admin,-79.264807,43.699878
2,106 Ascot Ave,former Toronto,37,342.0,9,Davenport,Fire Station,-79.448626,43.679366
3,65 Hendrick Ave,former Toronto,36,343.0,12,Toronto-St. Paul's,Fire Station,-79.430752,43.680105
4,260 Adelaide St W,former Toronto,85,332.0,10,Spadina-Fort York,Fire Station,-79.389564,43.648307
...,...,...,...,...,...,...,...,...,...
87,4100 Keele St,North York,77,141.0,7,Humber River-Black Creek,Fire Station,-79.492724,43.766822
88,130 Eighth St,Etobicoke,23,435.0,3,Etobicoke-Lakeshore,Fire Station,-79.506970,43.601119
89,1550 Midland Ave,Scarborough,58,232.0,21,Scarborough Centre,Fire Station,-79.266851,43.754967
90,59 Curlew Dr,North York,92,233.0,16,Don Valley East,Fire Station,-79.314383,43.743918
91,231 McRae Dr,East York,87,321.0,15,Don Valley West,Fire Station,-79.364698,43.708714

In [18]:
df2 = df2[df2["TYPE_DESC"] !="Admin"].reset_index()  #removes admin values, not a station and then numbers indexes correctly

In [19]:
display(df2)

,index,ADDRESS,MUNICIPALITY_NAME,ID,STATION,WARD,WARD_NAME,TYPE_DESC,Latitude,Longitude
0,0,900 Tapscott Rd,Scarborough,2,211.0,23,Scarborough North,Fire Station,-79.242870,43.823993
1,2,106 Ascot Ave,former Toronto,37,342.0,9,Davenport,Fire Station,-79.448626,43.679366
2,3,65 Hendrick Ave,former Toronto,36,343.0,12,Toronto-St. Paul's,Fire Station,-79.430752,43.680105
3,4,260 Adelaide St W,former Toronto,85,332.0,10,Spadina-Fort York,Fire Station,-79.389564,43.648307
4,5,745 Meadowvale Rd,Scarborough,68,214.0,25,Scarborough-Rouge Park,Fire Station,-79.163602,43.794211
...,...,...,...,...,...,...,...,...,...,...
81,87,4100 Keele St,North York,77,141.0,7,Humber River-Black Creek,Fire Station,-79.492724,43.766822
82,88,130 Eighth St,Etobicoke,23,435.0,3,Etobicoke-Lakeshore,Fire Station,-79.506970,43.601119
83,89,1550 Midland Ave,Scarborough,58,232.0,21,Scarborough Centre,Fire Station,-79.266851,43.754967
84,90,59 Curlew Dr,North York,92,233.0,16,Don Valley East,Fire Station,-79.314383,43.743918
85,91,231 McRae Dr,East York,87,321.0,15,Don Valley West,Fire Station,-79.364698,43.708714

In [20]:
unique = {}
stations = df2["WARD"]
for _, station in stations.items():
    added = False
    for wardNum in unique:
        if station == wardNum:
            unique[station] = unique[station]+1
            added = True
            
    if not added:
        unique[station] =1

print(unique)
print(len(unique))

total = 0
for wardNum in unique:
    total = total+unique[wardNum]
print(total)

{23: 4, 9: 2, 12: 3, 10: 5, 25: 3, 4: 4, 15: 4, 1: 4, 8: 3, 13: 4, 17: 3, 2: 4, 3: 5, 14: 4, 24: 2, 20: 4, 19: 3, 22: 2, 16: 4, 11: 3, 5: 3, 7: 4, 6: 3, 21: 3, 18: 3}
25
86

In [21]:
dfStation = pd.DataFrame.from_dict(unique, orient='index', columns=[ 'StationsInWard'])
display(dfStation.head())

    StationsInWard
23               4
9                2
12               3
10               5
25               3

In [22]:
dfStation = dfStation.reset_index()
display(dfStation.head())

   index  StationsInWard
0     23               4
1      9               2
2     12               3
3     10               5
4     25               3

In [23]:
dfStation = dfStation.rename(columns = {"index":"WardNumber"})
display(dfStation.head())

   WardNumber  StationsInWard
0          23               4
1           9               2
2          12               3
3          10               5
4          25               3

In [24]:
dfStation = dfStation.sort_values(by = ["WardNumber"])
display(dfStation.head())

    WardNumber  StationsInWard
7            1               4
11           2               4
12           3               5
5            4               4
20           5               3

In [25]:
dfStation.reset_index(inplace = True)
display(dfStation.head())

   index  WardNumber  StationsInWard
0      7           1               4
1     11           2               4
2     12           3               5
3      5           4               4
4     20           5               3

In [26]:
dfStation = dfStation.drop(columns = "index")
dfStation = dfStation.rename(columns={'WardNumber':'fire_ward_key','StationsInWard':'stations_in_ward'})
display(dfStation.head())

   fire_ward_key  stations_in_ward
0              1                 4
1              2                 4
2              3                 5
3              4                 4
4              5                 3

In [28]:
dfStation.to_csv("../raw_data/WardData.csv",  index = False)

In [29]:
#uncomment the following line of code if psycopg2 or sqlalchemy not installed locally
#!pip install psycopg2
#!pip install sqlalchemy
import psycopg2
import sqlalchemy

In [31]:
#Using postgres 13
#format: postgresql+psycopg2://username:password@host_address/database_name
engine = sqlalchemy.create_engine('postgresql+psycopg2://postgres:CSI4142@localhost:5432/fire_hazard')
dfStation.to_sql(name='dim_fire_ward', con=engine,if_exists='append', index=False)

25